

#customer{
    border-radius: 10px;
    border: solid 1px silver;
    font-family: Arial, Helvetica, sans-serif;
    color: #666667;
    text-decoration: none;
    font-size: 12px;
    overflow: hidden;
}
#customer div div{
    padding: 10px;
    margin: 10px;
}
#change_name_container{
    width: 300px;
   
}
#result.short{
float: right;
clear: right;
width: 100px;
}
#customer_form{
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 20px;
	width: 80%;
	background-color: #FBFBFC;
    background-image: url("../images/login-bg.jpg");
    background-repeat: repeat-x;
    border-top: 1px solid #C8C9CB;
    border-left: 1px solid #C8C9CB;
    border-right: 1px solid #C8C9CB;
    border-bottom: 1px solid #C8C9CB;
}
#error_container{
    height: 50px;
    width: 100%;
    margin-top: 5px;
    text-align: center;
}
#change_password_container{
    width: 300px;
}
p{
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
	
	
}
input[type="text"]{
	font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    border: 1px solid #C8C9CB;
    color: #515151;
    height: 16px;
	width: 251px;
}
input[type="password"]{
	font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    border: 1px solid #C8C9CB;
    color: #515151;
    height: 16px;
	width: 251px;
}