<div class="innermain">
  <div class="innerwrap">
    <div class="contentmainnew">
      <h1>CONTACT US</h1>
      <!-- <h2>drop me a line...</h2> -->
      <div class="contactleft">
        <h2>Head Office:</h2>

Ziparama Inc.<br>
PO Box 9079<br>
Cleveland<br>
Queensland 4163<br>
Australia<br>
<br>
<h2>General Enquiries</h2>

info@ziparama.com<br><br>

<h2>Advertising Enquiries</h2>

sales@ziparama.com
       <!--  <div class="formrow"><label>Name</label><input type="text" name="text"></div>
        <div class="formrow"><label>Phone</label><input type="text" name="text"></div>
        <div class="formrow"><label>Email</label><input type="text" name="text"></div>
        <div class="formrow"><label>Country</label><select><option>--- Select any ---</option></select></div>
        <div class="formrow subbordernone"><label>&nbsp;</label><input type="submit" title="submit" value="submit"></div> -->
      </div>
    </div>
  </div>
</div>