<div class="innermain">
  <div class="innerwrap">
    <div class="contentmainnew">
      <div class="logindiv">
        <div style="text-align:left";}>
          <h1>Sign-In</h1>
          <h2>Please sign-in to add your own pins or comment on other users pins.</h2>
          &nbsp;&nbsp;
        </div>
        <table>
          <tr>
            <div class="socialloginblock">
              </br></br> <%= link_to image_tag("social6.png"),"/auth/google_oauth2" %> 
              </br> <i>or</i>
              </br> <%= link_to image_tag("social2.png"), "/auth/facebook" %>
            </div>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>